.quote {
  text-align: center;
  font-size: 22px;
  margin: 24px 0;
  color: rgb(75,164,227);
}

.center {
  text-align: center;
}

.faction-images img {
  width: 60px;  
  display: inline-block;
}

html {
  padding-top: 10px;
}